.professor img{
    width: 130px;
    height: 140px;
}

.professor{
    width: 250px;
    float: left;
    margin: 20px 0;
}

#forms button{
    user-select: none;
    display: inline-block;
    border: .2em solid;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.6;
    color: #000;
}

h1{
    background-color: blueviolet;
    max-width: 200px;
    box-shadow: 1em;
}

#forms p{
    background-color: blueviolet;
    max-width: 150px;
}